@import'../../src/L.Rain.css';

html, body {
    width: 100%;
    margin: 0px;
}

body {
    background-color: #F3F3F3;
    background-color: white;
    font-family: Arial;
}

#wrap {
    width: 100%;
    height: 100%;
    margin: 0;
}

#left-panel {
    display: none;
    width: 300px;
    height: 100%;
    float: left;
}

#map {
    height: 100%;
}

#content {
    margin: auto;
}

.header {
    text-align: center;
}

.action-button-panel {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000000000;
}

.action-button {
    margin: 0 10px;
}
